@using System.Text.RegularExpressions
@using EPiServer.Web.Mvc.Html

@model PresentationEpiserver.Models.ViewModels.BloggListPageViewModel


<div class="bloggIndex col-lg-8 col-lg-offset-2 ">
    <h2>Index</h2>
  
    <div class="row indexBox">
        <div class="col-lg-4">
            <ul id="years"></ul>
        </div>
        <div class="col-lg-8">
            <ul id="blogs"></ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 indexFunctions">
            <div class="col-lg-4 ">
                <p>
                    Items per page
                    <select id="numberOfItemsPerPageSelection">
                        <option>2</option>
                        <option>4</option>
                        <option>6</option>
                    </select>
                </p>
            </div>
            <div class="col-lg-3 col-lg-offset-5 ">
                <span id="leftBtn" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span id="pageInformation"></span>
                <span id="rightBtn" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="line col-lg-12"></div>
    </div>
</div>
@{
    string displaySearch = "";
    if (Model.LastPostWasSearch)
    {
        displaySearch = "dispalySearch";
    }
}
<div id="searchWindow" class="col-lg-8 col-lg-offset-2 bloggPreview bloggSearch @displaySearch">
    @{
        using (Html.BeginForm("Index", "BloggFeedPage" , FormMethod.Get))
        {
            string placeHolder = Model.SearchBoxPlaceHolder;
            @Html.TextBox("searchString", null, new { @class = "searchInput", @placeholder = placeHolder })
        }
        if (Model.LastPostWasSearch)
        {
            <p class="serachResult">@Model.SearchResultText @Model.LastSearch</p>
        }
    }
</div>
@{
    var root = EPiServer.Web.SiteDefinition.Current.SiteUrl.AbsoluteUri.TrimEnd('/');
    foreach (var blogg in Model.Bloggs)
    {
        <div class="col-lg-8 col-lg-offset-2 bloggPreview">
            @Html.PropertyFor(m => blogg.Image, new { ImageWidth = "1830", ImageHeight = "1080" })
            <p class="bloggDate">@blogg.Changed.ToString("%d") @blogg.Changed.ToString("MMMM") @blogg.Changed.ToString("yyyy")</p>
            @{
                string header = @Regex.Replace(blogg.Header.ToString(), "<.*?>", String.Empty);
            }
            <h2>@header</h2>
            <p class="bloggIngress">@blogg.ingress</p>
            <a href="@root@blogg.LinkURL" class="GoToBloggPostButton">@Model.ButtonText</a>
        </div>
                }
                <div class="col-md-2 col-md-offset-5 pageinationList">
                    <ul>
                        @for (int i = 1; i <= Model.PaginationViewModel.NumberOfPages; i++)
                        {
                            string cssClass = "";
                            if (Model.Selected == i)
                            {
                                cssClass = "selected";
                            }
                            <li>
                                @Ajax.ActionLink(
                        linkText: i.ToString(),
                        actionName: "Index",
                        controllerName: "BloggFeedPage",
                        routeValues: new { p = i, searchString = Model.LastSearch, month = Model.Month },
                        ajaxOptions: new AjaxOptions { },
                        htmlAttributes: new { @class = cssClass })
                            </li>
                        }
                    </ul>
                </div>
}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
<script src="~/Scripts/CustomScripts/BlogIndex.js"></script>
