@using Castle.Core.Internal
@using EPiServer
@using EPiServer.Core
@using EPiServer.ServiceLocation
@using EPiServer.Web.Mvc.Html
@using PresentationEpiserver.Models.Blocks

@model PresentationEpiserver.Models.Blocks.EventFeed

@helper DisplayEvent(Event item, bool comingEvent)
{
    <div class="row ">
        <div class="col-lg-5 col-lg-offset-1">
           @Html.PropertyFor(m => item.Image, new { ImageCssClass = "col-md-12" })
        </div>
        <div class="col-lg-5 event">
            <h3>@Html.PropertyFor(m => item.Title)</h3>
            <p>@Html.PropertyFor(m => item.Text)</p>
            
            <p>@Html.PropertyFor(m => item.Speaker)</p>
            <p>@Html.PropertyFor(m => item.DateAndTime)</p>
            <p>@Html.PropertyFor(m => item.Adress)</p>
            @if (comingEvent)
            {
                <a class="GoToJobbPostButton" href="@Html.PropertyFor(m => item.Link)">@Html.PropertyFor(m => Model.Linktext)</a>
            }
        </div>
    </div>
}
<div class="col-lg-12">
    @{
        var contentLoader = ServiceLocator.Current.GetInstance<IContentLoader>();

        List<EPiServer.Core.ContentAreaItem> earlierEvents = new List<ContentAreaItem>();
        List<EPiServer.Core.ContentAreaItem> comingEvents = new List<ContentAreaItem>();

        if (Model.Events != null && Model.Events.Items.Any())
        {
            foreach (var contentItem in Model.Events.Items)
            {
                var item = contentLoader.Get<Event>(contentItem.ContentLink);
                if (item.DateAndTime >= DateTime.Now)
                {
                    comingEvents.Add(contentItem);
                }
                else
                {
                    earlierEvents.Add(contentItem);
                }
            }

            if (!comingEvents.IsNullOrEmpty())
            {
                <h2>@Model.HeaderComingEvents</h2>
            }

            foreach (var contentItem in comingEvents)
            {
                var item = contentLoader.Get<Event>(contentItem.ContentLink);
                @DisplayEvent(item, true)
            }

            if (!earlierEvents.IsNullOrEmpty())
            {
                <h2>@Model.HeaderPastEvents</h2>
            }
            foreach (var contentItem in earlierEvents)
            {
                var item = contentLoader.Get<Event>(contentItem.ContentLink);
                @DisplayEvent(item, false)
            }

        }
    }
</div>




