@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model cloudnine.Models.Pages.StartPage


<div>
    @Html.PropertyFor(m => m.Header)
</div>
<div>
    @Html.PropertyFor(m => m.MainBody)
</div>
<div>
    @Html.PropertyFor(m => m.Cases)
</div>
<div>
    @Html.PropertyFor(m => m.customersText)
</div>
<div>
    @Html.PropertyFor(m => m.Customers)
</div>
<div>
    @Html.PropertyFor(m => m.ContactFormArea)
</div>