@using EPiServer
@using EPiServer.Core
@using EPiServer.ServiceLocation
@using EPiServer.Web.Mvc.Html

@model PresentationEpiserver.Models.Blocks.ContactBlock
    
@{
    var contentLoader = ServiceLocator.Current.GetInstance<IContentLoader>();
    var startPage = contentLoader.Get<PresentationEpiserver.Models.Pages.StartPage>(ContentReference.StartPage);
}
<div class="col-lg-10 col-lg-offset-1">
    <div class="col-lg-6 contactBlockInfo">
        @Html.PropertyFor(m => m.ContactPresentationText)
    </div>
    <div class="col-lg-6 contactBlockInfo">
        <p>@startPage.AddressLineOne</p>
        <p>@startPage.AddressLineTwo</p>
        <a href="@startPage.MappLink">@startPage.MapLinkText</a>
        
        <p>@startPage.ContactPhone</p>
        <a href="mailto:@startPage.Mail" target="_top">@startPage.Mail</a>
        <p>@startPage.AdditionalInfo</p>
        <p>@startPage.AdditionalInfoLineTwo</p>
    </div>
</div>
<div class="col-lg-10 col-lg-offset-1">
  @Html.PropertyFor(m => m.ContactArea)
</div>