@using Castle.Core.Internal
@using EPiServer.Web.Mvc.Html
@using PresentationEpiserver.Helpers

@model PresentationEpiserver.Models.Blocks.Cases

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <div class="cases">
            <h2>@Html.PropertyFor(m => m.Header)</h2>
            <p>@Html.PropertyFor(m => m.Text)</p>
        </div>
        @{
            foreach (var casePage in Html.GetCasePages())
            {
                <div id="mycarousel" class="carousel slide @casePage.NumberOfColumns" data-ride="carousel">
                    <div class="item active casePresentaiton">
                        <div class="carousel-inner">
                            @{
                                string colorClass = "";
                                if (casePage.TextBackgroundColor.IsNullOrEmpty())
                                {
                                    colorClass = "#00ff00";
                                }
                                else
                                {
                                    colorClass = casePage.TextBackgroundColor;
                                }

                                string tintTransparency = "";
                                if (casePage.TintTransparency.IsNullOrEmpty())
                                {
                                    tintTransparency = "0.3";
                                }
                                else
                                {
                                    tintTransparency = casePage.TintTransparency;
                                }
                            }
                            <div class="carousel-item" data-color="@colorClass" data-Transparency ="@tintTransparency">
                                @{
                                    if (casePage.NumberOfColumns == "col-lg-6 col-md-12 col-sm-12")
                                    {
                                        @Html.PropertyFor(m => casePage.CaseThumbnail, new { ImageWidth = "", ImageHeight = "" })
                                    }
                                    else
                                    {
                                        @Html.PropertyFor(m => casePage.CaseThumbnail, new { ImageWidth = "370", ImageHeight = "485" })
                                    }
                                }
                                <div class="carousel-caption">
                                    <h3>@casePage.TextForBlock</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                    }
        }
    </div>
</div>
<script src="~/Scripts/CustomScripts/CasesThumbnailColorTint.js"></script>