@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model PresentationEpiserver.Models.Blocks.FourColumnArticle
<div class="col-lg-8 col-lg-offset-2 regular">

    <div class="col-md-12">
        <h2>@Html.PropertyFor(m => m.Header)</h2>
    </div>

    <div class="col-md-3">
        @Html.PropertyFor(m => m.ImageOne, new { ImageCssClass = "col-md-12" })
        <h3>@Html.PropertyFor(m => m.HeaderOne)</h3>
        @Html.PropertyFor(m => m.TextOne)
    </div>
    <div class="col-md-3">
        @Html.PropertyFor(m => m.ImageTwo, new { ImageCssClass = "col-md-12" })
        <h3>@Html.PropertyFor(m => m.HeaderTwo)</h3>
        @Html.PropertyFor(m => m.TextTwo)
    </div>
    <div class="col-md-3">
        @Html.PropertyFor(m => m.ImageThree, new { ImageCssClass = "col-md-12" })
        <h3>@Html.PropertyFor(m => m.HeaderThree)</h3>
        @Html.PropertyFor(m => m.TextThree)
    </div>
    <div class="col-md-3">
        @Html.PropertyFor(m => m.ImageFour, new { ImageCssClass = "col-md-12" })
        <h3>@Html.PropertyFor(m => m.HeaderFour)</h3>
        @Html.PropertyFor(m => m.TextFour)
    </div>
</div>